@import url('https://fonts.googleapis.com/css2?family=Federo&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Federo&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Federo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #00003D;
    padding: 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    order: 1;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 35px;
}

.header-left select {
    border: none;
    /* Remove border */
    background: none;
    /* Remove background */
    padding: 5px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    color: white;
    /* Adjust text color as needed */
}

.mobile-nav-header {
    display: none;
}

.mobile-nav-header select {
    border: none;
    /* Remove border */
    background: none;
    /* Remove background */
    padding: 5px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    color: white;
    /* Adjust text color as needed */
    background-color: #00003d;
}

.header-left .book-appointment {
    text-decoration: none;
    color: white;
    /* Adjust color as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    display: flex;
    align-items: center;
    gap: 5px;
    /* Adjust spacing between icon, image, and text */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header-left .book-appointment i {
    font-size: 18px;
    /* Adjust icon size as needed */
}

.header-left .appointment-image {
    width: 20px;
    /* Adjust image size as needed */
    height: 20px;
    /* Adjust image size as needed */
    object-fit: contain;
    /* Ensure the image scales correctly */
    position: relative;
    left: 10px;
}


.header-center {
    flex: 1;
    text-align: center;
    font-size: 44px;
    color: white;
    font-family: "Cinzel", serif;
    position: relative;
    right: 80px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
    gap: 10px;
    /* Adjust spacing between links */
    margin-right: 35px;
}

.header-right a {
    text-decoration: none;
    color: white;
    /* Adjust color as needed */
    font-size: 18px;
    /* Adjust font size as needed */
}

.header-right .separator {
    margin: 0 5px;
    /* Adjust spacing around the separator */
    color: white;
    /* Adjust color as needed */
}

.header-right a:last-child .separator {
    display: none;
    /* Hide separator after the last item */
}

.book-appointment {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00003D;
    width: 100%;
    order: 2;
}

.header .line-container {
    padding-top: 10px;
}

.menu-icon {
    display: none;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #FCDE65;
}

.center-image {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    margin: 0 15px;
    /* Space between lines and image */
}

.navbar {
    background-color: #00003D;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 60px;
    list-style: none;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-family: "Cinzel", serif;
}

.nav-item a:hover {
    color: #d3d3d3;
    /* Slightly lighter color on hover */
}

.banner {
    position: relative;
    background-image: url('./images/banner.png');
    /* Replace with your banner image URL */
    background-size: cover;
    background-position: center;
    height: 600px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner {
    position: relative;
    background-image: url('./images/banner.png');
    /* Replace with your banner image URL */
    background-size: cover;
    background-position: center;
    height: 600px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Align content to the right */
    color: white;
}

.banner-content {
    padding: 20px;

}

.banner-title {
    color: #252525;
    font-family: "Federo", sans-serif;
    position: relative;
    top: 70px;
}

.banner-content .banner-description {
    font-size: 98px;
    /* Adjust font size as needed */
    margin-bottom: 20px;
    color: #00003D;
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
}

.shop-now-button {
    border: 2px solid #00003D;
    /* Border color */
    color: #00003D;
    /* Text color */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.shop-now-button::after {
    content: '\2192';
    /* Unicode arrow symbol → */
    margin-left: 8px;
    /* Space between text and arrow */
    font-size: 1.2rem;
    /* Adjust size if needed */
}

.shop-now-button:hover {
    color: #fff;
    /* Text color on hover */
    border-color: #fff;
    /* Border color on hover */
    background-color: #00003D;
    /* Background color on hover */
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.mobile-right-header {
    display: none;
}






.features-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    text-align: center;
    gap: 20px;
    background-image: url('./images/Isolation_Mode.svg');
    /* Path to your background image */
    background-size: cover;
    /* Centers the background image */
    padding: 50px 120px;
    border-radius: 20px;
}

.feature {
    background: #ffffff;
    padding: 20px;
    border-radius: 150px 150px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 270px;
    max-height: 360px;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature-icon {
    margin-bottom: 20px;
}

.feature-icon img {
    width: 50%;
    height: auto;
    margin-top: 60px;
}

h3 {
    font-family: 'Federo', serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.under-h3-image {
    display: block;
    margin: 10px auto;
    /* Centers the image horizontally and adds space around it */
    width: 50px;
    /* Adjust width as needed */
    height: auto;
    /* Maintains aspect ratio */
}

p {
    font-family: 'Kurale', sans-serif;
    font-size: 15px;
    color: #555555;
}



/* Default styles for larger screens */
.product-section {
    display: flex;
    justify-content: space-between;
    background-image: url('./images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    margin: 0 50px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

.product-info {
    flex: 1;
    max-width: 38%;
    position: relative;
    left: 50px;
    top: 70px;
}

.product-title {
    font-family: 'Federo';
    font-size: 40px;
    position: relative;
    color: white;
    letter-spacing: 3px;
}

.product-title::after {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.product-description {
    font-family: 'Kurale', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 100%;
    word-wrap: break-word;
}

.product-slider {
    position: relative;
    width: 75%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    width: 120%;
    margin-left: 25px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex: 0 0 20%;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    box-sizing: border-box;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-title {
    font-size: 15px;
    margin: 10px 0;
    color: #00003D;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.card-title::before,
.card-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: #333;
}

.card-title::before {
    left: -25px;
}

.card-title::after {
    right: -25px;
}

.card-price {
    font-size: 16px;
    color: #00003D;
}

.slider-dots {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    transform: rotate(45deg);
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #00003D;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f6f6f6;
    flex-wrap: wrap;
    position: relative;
}

.svg-container .diamond-icon {
    position: absolute;
    top: -50px;
    right: 50px;
}

.svg-container .star-icon {
    margin-right: 90%;
}

.svg-image-1,
.svg-image-2,
.svg-image-3,
.svg-image-4 {
    width: 150px;
    height: auto;
    opacity: 0.8;
}

.icon-title {
    width: 50%;
    margin-top: -6%;
    margin-right: 25%;
}

.svg-container .icon-title h2 {
    font-size: 64px;
    font-family: "Fleur De Leah", serif;
    color: #00003D;
    margin-bottom: 20px;
}

.svg-container .icon-title p {
    font-size: 24px;
    color: #252525;
    line-height: 1.6;
    width: 64%;
}

.shop-now-button-2 {
    font-size: 20px;
    border: 2px solid #00003D;
    color: #00003D;
    border-radius: 35px;
    padding: 15px 30px;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: "Kurale", serif;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    margin-top: 20px;
}

.shop-now-button-2:hover {
    color: #fff;
    border-color: #fff;
    background-color: #00003D;
}

.heart-diamond-icon {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.diamond-shape {
    position: absolute;
    /* bottom: 20px; */
    right: 10%;
}

.diamond-shape img {
    width: 300px;
    height: auto;
}



.diamond-info .row {
    display: flex;
    flex-wrap: wrap;
    background-color: #DEDEE4;
}

.diamond-info .row .image {
    flex: 1 1 50rem;
}

.diamond-info .row .image img {
    width: 100%;
}

.diamond-info .row .content {
    flex: 1 1 45rem;
    margin-left: 5%;

}

.diamond-info .row .content h3 {
    color: #00003D;
    font-size: 44px;
    line-height: 1.8;
    font-family: "Federo", sans-serif;
    position: relative;
    /* Ensure the ::after is positioned relative to the h3 */
    display: inline-block;
    /* Required for the underline to match the h3 width */
}

.diamond-info .row .content h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 500px;
    height: 2px;
    background-color: #00003D;
}

.diamond-info .row .content p {
    color: #00003D;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-family: "Kurale", serif;
    width: 85%;
    letter-spacing: 2px;
}




.image-swiper-container {
    position: relative;
    margin: 0 auto;
    width: calc(min(51rem, 90%));
    min-height: 100vh;
    column-gap: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.swiper-container {
    position: relative;
    right: 20%;
}

.swiper {
    width: 135%;
    padding: 60px 0 95px 0;

}

.swiper-slide {
    width: 10rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: relative;
}

.swiper-slide .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
}

.swiper-slide .slide-content img {
    width: 280px;
    height: 350px;
    border-radius: 20px;

}

.swiper-button-prev {
    background: white;
    border-radius: 50%;
    top: 47%;
    Left: -35px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
}

.swiper-button-prev::after {
    content: "";
}

.swiper-button-prev.bx {
    font-size: 25px;
}

.swiper-button-next {
    background: white;
    border-radius: 50%;
    top: 47%;
    left: 133%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
}

.swiper-button-next::after {
    content: "";
}

.swiper-button-next .bx {
    font-size: 25px;
}




/* Title Styling */
.swiper-title {
    margin-top: 20px;
    /* Space between Swiper and title */
    background-image: url('./images/story_images/Vector (3).svg');
    /* Set image as background */
    background-size: cover;
    /* Cover the container with the background image */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent repeating the image */
    /* Adjust padding as needed for spacing */
    text-align: center;
    /* Center the text */
    color: #fff;
    /* Set text color to contrast with background */
    background-size: 13%;
    background-position: bottom;
}

.swiper-title h6 {
    font-size: 20px;
    color: #00003D;
    /* Ensure text is readable against background */
    margin-bottom: 5px;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;

}

.swiper-title h1 {
    font-size: 60px;
    color: #00003D;
    /* Ensure text is readable against background */
    margin: 0;
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-overlay {
    position: absolute;
    bottom: 4px;
    left: 43px;
    width: 280px;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 61, 0),
            /* End color with transparency */
            rgba(0, 0, 61, 1)
            /* Start color with transparency */
        );
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
}

.text-overlay h6 {
    margin: 0;
    margin-top: 50%;
    font-family: "Kurale";
    font-size: 26px;
    font-weight: 400;
    line-height: 38.43px;

}


.Appointment {
    position: relative;
    background-image: url(./images/Appointment.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment: local;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Appointment-title {
    position: relative;
    right: 22%;
    z-index: 1;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

.Appointment-title h1 {
    font-size: 60px;
    /* Adjust the font size as needed */
    margin-bottom: 20px;
    /* Space below the heading */
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00003D;

}

.Appointment-title p {
    color: #00003D;
    font-size: 22px;
    /* Adjust the font size as needed */
    margin-bottom: 30px;
    /* Space below the paragraph */
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}


.review {
    position: relative;
    margin: 0 auto;
    width: calc(min(51rem, 90%));
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-title {
    margin-top: 20px;
    background-image: url('./images/story_images/Vector (3).svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    background-size: 18%;
    background-position: bottom;
}

.review-title h6 {
    font-size: 20px;
    color: #00003D;
    margin-bottom: 5px;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}

.review-title h1 {
    font-size: 60px;
    color: #00003D;
    margin: 0;
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    right: 220px;
}

.testimonial-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    text-align: left;
    left: 170px;
}


.profile-picture img {
    height: 550px;
    width: 400px;
    border-radius: 10px;
    margin-right: 20px;
}

.testimonial-content {
    max-width: 600px;
}

.testimonial-content h3 {
    font-size: 24px;
    color: #00003D;
    margin-bottom: 10px;
    margin-left: 80px;
}

.testimonial-content p {
    color: #777;
    margin-bottom: 20px;
    font-size: 28px;
    width: 630px;
    margin-top: 20%;
}

.testimonial-content p::before {
    content: open-quote;
    position: absolute;
    top: 28%;
    left: 45%;
    font-size: 110px;
    color: #555;
}

.testimonial-content p::after {
    content: close-quote;
    position: absolute;
    bottom: 50px;
    right: -5%;
    font-size: 110px;

    /* Adjust the size as needed */
    color: #555;
    /* Adjust the color if necessary */
}


.profile-overlay {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.overlay-content {
    display: contents;
}

.overlay-content img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.overlay-content h3 {
    font-size: 14px;
    margin: 0;
    color: #00003D;
}

.overlay-content p {
    margin: 0;
    color: #777;
}



.testimonial-navigation {
    position: absolute;
    bottom: 80px;
    left: 70%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.testimonial-navigation button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
}

.testimonial-navigation button:hover {
    color: #0056b3;
}

.overlay-title {
    position: absolute;
    top: 60px;
    left: 45%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overlay-title img {
    width: 100px;
    /* Set the width you need */
    height: 100px;
    /* Set the height you need */
    object-fit: cover;
    /* This ensures the image covers the entire area, cropping if necessary */
    border-radius: 50%;
    /* Optional: Makes the image circular */
    overflow: hidden;
}

.overlay-title h3 {
    font-size: 14px;
    margin: 0;
    color: #00003D;
}

.overlay-title p {
    margin: 0;
    color: #777;
}

.overlay-title .content-details h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
    color: #00003D;
    margin-left: 20px;
}

.overlay-title .content-details h6 {
    margin: 3px;
    color: #777;
    font-family: "Kurale";
    font-size: 16px;
    font-weight: 400;
    line-height: 23.65px;
    text-align: left;
    margin-left: 20px;

}

.content-details {
    width: 220px;

}


.footer {
    background-color: #f7f7f7;
    background-image: url('./images/footer-background.png');
    /* Replace with your image path */
    background-size: cover;
    /* Ensure the image covers the entire footer */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    padding: 40px 0;
    color: #333;
}


.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*  */

.footer-logo {
    text-align: left;
    margin-bottom: 20px;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.logo-name img {
    width: 111px;
    /* Adjust the size of the logo as needed */
    height: 110px;
    margin-right: 15px;
    /* Space between logo and text */
}

.logo-name h1 {
    font-size: 24px;
    /* Adjust the font size as needed */
    color: #333;
    /* Adjust the color as needed */
    margin: 0;
    /* Remove default margin */
}

.footer-logo p {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: 51%;
}

/*  */


.footer-logo {
    flex: 2;
    min-width: 300px;
}

.footer-logo h1 {
    font-family: "Cinzel";
    font-size: 44px;
    font-weight: 400;
    line-height: 59.31px;
    letter-spacing: 0.05em;
    text-align: left;

}

.footer-logo img {
    max-width: 150px;
}

.footer-logo p {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: 51%;

}

.footer-links {
    flex: 3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3 {
    color: #00003D;
    font-size: 28px;
    margin-bottom: 15px;
    border-bottom: 2px solid #00003D;
    display: inline-block;
    padding-bottom: 20px;
    font-family: "Federo";
    font-weight: 400;
    /* line-height: 0px; */
    text-align: left;

}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #252525;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;

    font-family: "Kurale";
    font-weight: 400;
    line-height: 23.65px;
    text-align: left;

}

.footer-column ul li a:hover {
    color: #222;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #000000;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #252525;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    line-height: 40px;
    /* Center the icon vertically */
    text-align: center;
    /* Center the icon horizontally */
    margin-right: 10px;
    /* Space between icons */
    border: 1px solid #333;
    /* 1px solid border */
    border-radius: 50%;
    /* Rounded corners */
    color: #333;
    /* Icon color */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition on hover */
}

.social-icons a:hover {
    background-color: #333;
    /* Background color on hover */
    color: #fff;
    /* Icon color on hover */
}

