@import url('https://fonts.googleapis.com/css2?family=Federo&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Federo&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Federo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #00003D;
    padding: 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    order: 1;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 35px;
}

.header-left select {
    border: none;
    /* Remove border */
    background: none;
    /* Remove background */
    padding: 5px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    color: white;
    /* Adjust text color as needed */
}

.mobile-nav-header {
    display: none;
}

.mobile-nav-header select {
    border: none;
    /* Remove border */
    background: none;
    /* Remove background */
    padding: 5px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    color: white;
    /* Adjust text color as needed */
    background-color: #00003d;
}

.header-left .book-appointment {
    text-decoration: none;
    color: white;
    /* Adjust color as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    display: flex;
    align-items: center;
    gap: 5px;
    /* Adjust spacing between icon, image, and text */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header-left .book-appointment i {
    font-size: 18px;
    /* Adjust icon size as needed */
}

.header-left .appointment-image {
    width: 20px;
    /* Adjust image size as needed */
    height: 20px;
    /* Adjust image size as needed */
    object-fit: contain;
    /* Ensure the image scales correctly */
    position: relative;
    left: 10px;
}


.header-center {
    flex: 1;
    text-align: center;
    font-size: 44px;
    color: white;
    font-family: "Cinzel", serif;
    position: relative;
    right: 80px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
    gap: 10px;
    /* Adjust spacing between links */
    margin-right: 35px;
}

.header-right a {
    text-decoration: none;
    color: white;
    /* Adjust color as needed */
    font-size: 18px;
    /* Adjust font size as needed */
}

.header-right .separator {
    margin: 0 5px;
    /* Adjust spacing around the separator */
    color: white;
    /* Adjust color as needed */
}

.header-right a:last-child .separator {
    display: none;
    /* Hide separator after the last item */
}

.book-appointment {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00003D;
    width: 100%;
    order: 2;
}

.header .line-container {
    padding-top: 10px;
}

.menu-icon {
    display: none;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #FCDE65;
}

.center-image {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    margin: 0 15px;
    /* Space between lines and image */
}

.navbar {
    background-color: #00003D;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 60px;
    list-style: none;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-family: "Cinzel", serif;
}

.nav-item a:hover {
    color: #d3d3d3;
    /* Slightly lighter color on hover */
}

.banner {
    position: relative;
    background-image: url('./images/banner.png');
    /* Replace with your banner image URL */
    background-size: cover;
    background-position: center;
    height: 600px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner {
    position: relative;
    background-image: url('./images/banner.png');
    /* Replace with your banner image URL */
    background-size: cover;
    background-position: center;
    height: 600px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Align content to the right */
    color: white;
}

.banner-content {
    padding: 20px;

}

.banner-title {
    color: #252525;
    font-family: "Federo", sans-serif;
    position: relative;
    top: 70px;
}

.banner-content .banner-description {
    font-size: 98px;
    /* Adjust font size as needed */
    margin-bottom: 20px;
    color: #00003D;
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
}

.shop-now-button {
    border: 2px solid #00003D;
    /* Border color */
    color: #00003D;
    /* Text color */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.shop-now-button::after {
    content: '\2192';
    /* Unicode arrow symbol → */
    margin-left: 8px;
    /* Space between text and arrow */
    font-size: 1.2rem;
    /* Adjust size if needed */
}

.shop-now-button:hover {
    color: #fff;
    /* Text color on hover */
    border-color: #fff;
    /* Border color on hover */
    background-color: #00003D;
    /* Background color on hover */
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.mobile-right-header {
    display: none;
}


/* Base styles for mobile devices */
@media (max-width: 767px) {

    .mobile-right-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .mobile-right-header a {
        text-decoration: none;
        color: white;
        /* Adjust color as needed */
        font-size: 18px;
        /* Adjust font size as needed */
    }

    .mobile-right-header .separator {
        margin: 0 5px;
        /* Adjust spacing around the separator */
        color: white;
        /* Adjust color as needed */
    }

    .mobile-right-header a:last-child .separator {
        display: none;
        /* Hide separator after the last item */
    }

    .close-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        align-self: flex-start;
        cursor: pointer;
        color: white;

    }

    .mobile-nav-header {
        display: block;
    }

    .mobile-nav-header .appointment-image {
        width: 20px;
        padding-left: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header-left,
    .header-right {
        margin-left: 0;
        margin-right: 0;
    }

    .header-center {
        font-size: 28px;
        margin: 10px 0;
        right: 0;
    }

    .header-left select {
        font-size: 14px;
    }

    .header-left .book-appointment {
        font-size: 14px;
        gap: 10px;
    }

    .header-left .appointment-image {
        width: 16px;
        height: 16px;
        left: 5px;
    }

    .header-right {
        display: block;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right a {
        font-size: 16px;
    }

    .line-container {
        flex-direction: column;
        align-items: center;
        order: 1;
        width: 20%;
    }

    .line {
        width: 100%;
    }

    .center-image {
        width: 40px;
        height: 40px;
        margin: 10px 0;
    }

    .header {
        flex-direction: row;
    }

    .menu-icon {
        display: block;
        width: 20%;
        order: 3;
        display: flex;
        justify-content: center;
    }

    #menu-btn {
        font-size: 1rem;
        border-radius: .5rem;
        background: #eee;
        color: var(--green);
        padding: 1rem 1rem;
        cursor: pointer;
        order: 3;
    }

    .header-menu {
        order: 2;
        width: 60%;
    }

    #mobile-nav {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;
        justify-content: end;
        background: rgba(0, 0, 0, 0.445);
        display: none;
    }

    .navbar {
        width: 50%;
        justify-content: end;
    }

    .header-left {
        display: none;
    }

    .header-right {
        display: none;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }


    .nav-item {
        margin: 10px 0;
        list-style: none;
    }

    .banner {
        background-position: top;
    }

    .banner-description {
        font-size: 70px;
    }

    .shop-now-button {
        padding: 8px 16px;
    }

    /* Show mobile button only on small devices */
    .mobile-menu-btn {
        display: block;
        background-color: #00003D;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        cursor: pointer;
        margin: 10px;
    }

    .mobile-menu-btn-container {
        display: block;
        width: 100%;
        text-align: center;
    }

    .banner-content .banner-description {
        font-size: 90px;
    }
}

/* Medium mobile devices */
@media (min-width: 768px) and (max-width: 899px) {
    .header {
        padding: 20px;
    }

    .header-center {
        font-size: 36px;
        right: 20px;
    }

    .header-left select {
        font-size: 16px;
    }

    .header-left .book-appointment {
        font-size: 9px;
    }

    .header-left .appointment-image {
        width: 18px;
        height: 18px;
    }

    .header-right a {
        font-size: 18px;
    }

    .line-container {
        padding: 0 10px;
    }

    .center-image {
        width: 45px;
        height: 45px;
    }

    .navbar {
        padding: 15px 0;
    }

    .nav-menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        margin: 0 20px;
        list-style: none;
    }

    .banner {
        height: 500px;
    }

    .banner-description {
        font-size: 72px;
    }

    .shop-now-button {
        padding: 10px 20px;
    }

    /* Hide mobile button on medium mobile devices */
    .mobile-menu-btn {
        display: none;
    }
}


/* Large mobile devices and tablets */
@media (min-width: 900px) and (max-width: 1024px) {
    .header {
        padding: 20px;
    }

    .header-center {
        font-size: 36px;
        right: 70px;
    }

    .header-left select {
        font-size: 16px;
    }

    .header-left .book-appointment {
        font-size: 16px;
    }

    .header-left .appointment-image {
        width: 18px;
        height: 18px;
    }

    .header-right a {
        font-size: 18px;
    }

    .line-container {
        padding: 0 10px;
    }

    .center-image {
        width: 45px;
        height: 45px;
    }

    .navbar {
        padding: 15px 0;
    }

    .nav-menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        margin: 0 20px;
        list-style: none;
    }

    .banner {
        height: 500px;
    }

    .banner-description {
        font-size: 72px;
    }

    .shop-now-button {
        padding: 10px 20px;
    }

    /* Hide mobile button on large mobile devices */
    .mobile-menu-btn {
        display: none;
    }
}

/* Styles for larger screens */
@media (min-width: 1025px) {


    .header-center {
        font-size: 44px;
        right: 80px;
    }

    .header-left select {
        font-size: 16px;
    }

    .header-left .book-appointment {
        font-size: 16px;
    }

    .header-left .appointment-image {
        width: 20px;
        height: 20px;
    }

    .header-right a {
        font-size: 18px;
    }

    .line-container {
        padding: 0;
    }

    .center-image {
        width: 50px;
        height: 50px;
    }

    .navbar {
        padding: 10px 0;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 30px;
    }

    .nav-item {
        margin: 0 60px;
        list-style: none;
    }

    .banner {
        height: 600px;
    }

    .banner-description {
        font-size: 98px;
    }

    .shop-now-button {
        padding: 10px 20px;
    }

    /* Hide mobile button on larger screens */
    .mobile-menu-btn {
        display: none;
    }
}

@media (max-width: 767px) {

    .mobile-menu-btn {
        display: block;
        /* Show menu button */
    }

    .nav-item {
        margin: 10px 0;
        list-style: none;
        align-items: center;
        text-align: center;
    }

}

@media (min-width: 300px) {

    .mobile-nav-header select {

        margin-left: 10px;
    }

    .book-appointment {
        color: white;
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        margin-right: 15px;
        font-family: "Poppins", sans-serif;
        display: flow-root;
    }



    .menu-icon {
        display: block;
        width: 20%;
        order: 3;
        display: flex;
        justify-content: center;
    }

    .banner-description {
        font-size: 50px;
    }
}



.features-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    text-align: center;
    gap: 20px;
    background-image: url('./images/Isolation_Mode.svg');
    /* Path to your background image */
    background-size: cover;
    /* Centers the background image */
    padding: 50px 120px;
    border-radius: 20px;
}

.feature {
    background: #ffffff;
    padding: 20px;
    border-radius: 150px 150px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 270px;
    max-height: 360px;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature-icon {
    margin-bottom: 20px;
}

.feature-icon img {
    width: 50%;
    height: auto;
    margin-top: 60px;
}

h3 {
    font-family: 'Federo', serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.under-h3-image {
    display: block;
    margin: 10px auto;
    /* Centers the image horizontally and adds space around it */
    width: 50px;
    /* Adjust width as needed */
    height: auto;
    /* Maintains aspect ratio */
}

p {
    font-family: 'Kurale', sans-serif;
    font-size: 15px;
    color: #555555;
}

/* Ultra-wide devices (2560px and above) */

@media (max-width: 1200px) {
    .features-section {
        flex-wrap: wrap;
        display: flex;
    }

    .feature {
        flex: 1 1 45%;
        /* max-width: 45%; */
        margin-bottom: 20px;
    }
}



@media (max-width: 768px) {
    .feature {
        flex: 1 1 40%;
        /* max-width: 100%; */
    }
}

@media (max-width: 480px) {
    .features-section {
        display: flex;
        justify-content: center;
    }

    .feature {
        padding: 15px;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
}



/* Default styles for larger screens */
.product-section {
    display: flex;
    justify-content: space-between;
    background-image: url('./images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    margin: 0 50px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

.product-info {
    flex: 1;
    max-width: 38%;
    position: relative;
    left: 50px;
    top: 70px;
}

.product-title {
    font-family: 'Federo';
    font-size: 40px;
    position: relative;
    color: white;
    letter-spacing: 3px;
}

.product-title::after {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.product-description {
    font-family: 'Kurale', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 100%;
    word-wrap: break-word;
}

.product-slider {
    position: relative;
    width: 75%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    width: 120%;
    margin-left: 25px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex: 0 0 20%;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    box-sizing: border-box;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-title {
    font-size: 15px;
    margin: 10px 0;
    color: #00003D;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.card-title::before,
.card-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: #333;
}

.card-title::before {
    left: -25px;
}

.card-title::after {
    right: -25px;
}

.card-price {
    font-size: 16px;
    color: #00003D;
}

.slider-dots {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    transform: rotate(45deg);
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #00003D;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f6f6f6;
    flex-wrap: wrap;
    position: relative;
}

.svg-container .diamond-icon {
    position: absolute;
    top: -50px;
    right: 50px;
}

.svg-container .star-icon {
    margin-right: 90%;
}

.svg-image-1,
.svg-image-2,
.svg-image-3,
.svg-image-4 {
    width: 150px;
    height: auto;
    opacity: 0.8;
}

.icon-title {
    width: 50%;
    margin-top: -6%;
    margin-right: 25%;
}

.svg-container .icon-title h2 {
    font-size: 64px;
    font-family: "Fleur De Leah", serif;
    color: #00003D;
    margin-bottom: 20px;
}

.svg-container .icon-title p {
    font-size: 24px;
    color: #252525;
    line-height: 1.6;
    width: 64%;
}

.shop-now-button-2 {
    font-size: 20px;
    border: 2px solid #00003D;
    color: #00003D;
    border-radius: 35px;
    padding: 15px 30px;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: "Kurale", serif;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    margin-top: 20px;
}

.shop-now-button-2:hover {
    color: #fff;
    border-color: #fff;
    background-color: #00003D;
}

.heart-diamond-icon {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.diamond-shape {
    position: absolute;
    /* bottom: 20px; */
    right: 10%;
}

.diamond-shape img {
    width: 300px;
    height: auto;
}

/* Media Query for screen sizes between 1024px and 768px */
@media (max-width: 1024px) {
    .icon-title {
        margin-top: -100px;
        margin-right: 250px;
    }

    .svg-container .icon-title h2 {
        font-size: 40px;
    }

    .svg-container .icon-title p {
        font-size: 28px;
    }

    .shop-now-button-2 {
        font-size: 18px;
        padding: 12px 25px;
    }

    .svg-image-1,
    .svg-image-2,
    .svg-image-3,
    .svg-image-4 {
        width: 120px;
    }

    .diamond-shape img {
        width: 250px;
    }

    .svg-container .diamond-icon {
        top: -30px;
        right: 30px;
    }

    .heart-diamond-icon {
        top: 85%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
}

/* Media Query for screen sizes below 768px */
@media (max-width: 768px) {
    .svg-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .icon-title {

        text-align: center;
    }

    .svg-container .icon-title h2 {
        font-size: 32px;
    }

    .svg-container .icon-title p {
        font-size: 20px;
    }

    .shop-now-button-2 {
        font-size: 16px;
        padding: 10px 20px;
    }

    .svg-image-1,
    .svg-image-2,
    .svg-image-3,
    .svg-image-4 {
        width: 100px;
    }

    .diamond-shape img {
        width: 200px;
    }

    .svg-container .star-icon {
        margin-right: 115%;
    }

    .svg-container .diamond-icon {
        position: relative;
        top: -38px;
        right: -80px;
        margin-bottom: -90px;
    }

    .heart-diamond-icon {
        position: relative;
        top: -104px;
        left: 80px;
        transform: none;
        margin-bottom: 20px;
    }

    .diamond-shape {
        position: relative;
        /* right: 0; */
        top: -80px;
    }
}

/* Responsive styles */
@media (max-width: 1024px) {
    .product-section {
        flex-direction: column;
        margin: 0 20px;
    }

    .product-info {
        left: 0;
        top: 0;
        max-width: 100%;
        text-align: center;
    }

    .product-title {
        font-size: 32px;
    }

    .product-title::after {
        width: 60%;
    }

    .product-slider {
        width: 100%;
    }

    .slide {
        flex: 0 0 33.33%;
    }

    .slider-wrapper {
        width: 300%;
    }

    .card-title::before,
    .card-title::after {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .product-info {
        text-align: center;
    }

    .product-title {
        font-size: 28px;
    }

    .product-title::after {
        width: 50%;
    }

    .product-description {
        font-size: 14px;
    }

    .slide {
        flex: 0 0 50%;
    }

    .slider-wrapper {
        width: 200%;
    }

    .card-title::before,
    .card-title::after {
        width: 25px;
    }
}

@media (max-width: 576px) {
    .product-section {
        padding: 10px;
    }

    .product-title {
        font-size: 24px;
    }

    .product-title::after {
        width: 40%;
    }

    .product-description {
        font-size: 12px;
    }

    .slide {
        flex: 0 0 100%;
    }

    .slider-wrapper {
        width: 100%;
    }

    .card {
        width: 90%;
    }

    .card-title::before,
    .card-title::after {
        width: 20px;
    }
}

.diamond-info .row {
    display: flex;
    flex-wrap: wrap;
    background-color: #DEDEE4;
}

.diamond-info .row .image {
    flex: 1 1 50rem;
}

.diamond-info .row .image img {
    width: 100%;
}

.diamond-info .row .content {
    flex: 1 1 45rem;
    margin-left: 5%;

}

.diamond-info .row .content h3 {
    color: #00003D;
    font-size: 44px;
    line-height: 1.8;
    font-family: "Federo", sans-serif;
    position: relative;
    /* Ensure the ::after is positioned relative to the h3 */
    display: inline-block;
    /* Required for the underline to match the h3 width */
}

.diamond-info .row .content h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 500px;
    height: 2px;
    background-color: #00003D;
}

.diamond-info .row .content p {
    color: #00003D;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-family: "Kurale", serif;
    width: 85%;
    letter-spacing: 2px;
}

/* Medium screens (Tablets and small desktops) */
@media (min-width: 768px) and (max-width: 1199px) {
    .diamond-info .row {
        padding: 2rem 0;
    }

    .diamond-info .row .content h3 {
        font-size: 38px;
    }

    .diamond-info .row .content p {
        font-size: 1.4rem;
        width: 85%;
    }
}

/* Small screens (Phones) */
@media (max-width: 767px) {
    .diamond-info .row {
        flex-direction: column;
        padding: 1.5rem 0;
    }

    .diamond-info .row .image,
    .diamond-info .row .content {
        flex: 1 1 100%;
        margin-left: 0;
    }

    .diamond-info .row .content h3 {
        font-size: 30px;
    }

    .diamond-info .row .content p {
        font-size: 1.3rem;
        width: 100%;
    }
}


.image-swiper-container {
    position: relative;
    margin: 0 auto;
    width: calc(min(51rem, 90%));
    min-height: 100vh;
    column-gap: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.swiper-container {
    position: relative;

}

.swiper {
    width: 100%;
    padding: 60px 0 95px 0;

}

.swiper-slide {
    width: 10rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: relative;
}

.swiper-slide .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
}

.swiper-slide .slide-content img {
    width: 280px;
    height: 350px;
    border-radius: 20px;

}

.swiper-button-prev {
    background: white;
    border-radius: 50%;
    top: 47%;
    Left: -30px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
}

.swiper-button-prev::after {
    content: "";
}

.swiper-button-prev.bx {
    font-size: 25px;
}

.swiper-button-next {
    background: white;
    border-radius: 50%;
    top: 47%;
    right: -30px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
}

.swiper-button-next::after {
    content: "";
}

.swiper-button-next .bx {
    font-size: 25px;
}

@media (min-width:760px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
    }
}


/* Title Styling */
.swiper-title {
    margin-top: 20px;
    /* Space between Swiper and title */
    background-image: url('./images/story_images/Vector (3).svg');
    /* Set image as background */
    background-size: cover;
    /* Cover the container with the background image */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent repeating the image */
    /* Adjust padding as needed for spacing */
    text-align: center;
    /* Center the text */
    color: #fff;
    /* Set text color to contrast with background */
    background-size: 13%;
    background-position: bottom;
}

.swiper-title h6 {
    font-size: 20px;
    color: #00003D;
    /* Ensure text is readable against background */
    margin-bottom: 5px;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;

}

.swiper-title h1 {
    font-size: 60px;
    color: #00003D;
    /* Ensure text is readable against background */
    margin: 0;
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-overlay {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 280px;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 61, 0),
            /* End color with transparency */
            rgba(0, 0, 61, 1)
            /* Start color with transparency */
        );
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
}

.text-overlay h6 {
    margin: 0;
    /* Remove default margin */
    font-size: 16px;
    /* Adjust as needed */
    margin-top: 60%;
}


.Appointment {
    position: relative;
    background-image: url(./images/Appointment.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment: local;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Appointment-title {
    position: relative;
    right: 22%;
    z-index: 1;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

.Appointment-title h1 {
    font-size: 60px;
    /* Adjust the font size as needed */
    margin-bottom: 20px;
    /* Space below the heading */
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00003D;

}

.Appointment-title p {
    color: #00003D;
    font-size: 22px;
    /* Adjust the font size as needed */
    margin-bottom: 30px;
    /* Space below the paragraph */
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1024px) {
    .Appointment {
        height: 70vh; /* Reduce height on medium screens */
    }
    .Appointment-title{
        right: 0%;
    }
    
    .Appointment-title h1 {
        font-size: 48px; /* Reduce font size */
    }
    
    .Appointment-title p {
        font-size: 20px; /* Reduce font size */
    }
}

@media (max-width: 768px) {
    .Appointment {
        height: 50vh; /* Further reduce height on smaller screens */
    }
    
    .Appointment-title h1 {
        font-size: 36px; /* Further reduce font size */
    }
    
    .Appointment-title p {
        font-size: 18px; /* Further reduce font size */
    }
}
@media (min-width: 605px) {

}

@media (max-width: 480px) {
    .Appointment {
        height: auto; /* Allow height to be flexible on mobile */
        padding: 40px 20px; /* Add more padding for comfort */
        width: max-content;
    }
    
    .Appointment-title h1 {
        font-size: 28px; /* Further reduce font size for mobile */
    }
    
    .Appointment-title p {
        font-size: 16px; /* Further reduce font size for mobile */
    }
    
   
}